[Unit]
Description=daily-problem daemon

[Service]
ExecStart=/home/chaosi/server/daily-problem/main -conf=/home/chaosi/server/daily-problem/config_prod.yaml
Restart=always
RestartSec=4s500ms

[Install]
WantedBy=multi-user.target
