[Unit]
Description=note daemon

[Service]
Type=simple
Restart=always
RestartSec=4s500ms
WorkingDirectory=/home/chaosi/server/note/
ExecStart=/usr/local/bin/npm run dev -- --port 7001

[Install]
WantedBy=multi-user.target